/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    background-color: black;
    height: calc(100vh - 5rem);
    overflow: auto;
}

header{
    height: 5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    align-items: baseline;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;   
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    width: 90vw;
    margin: 0 auto;
}

.bg-grey{
    background-color: #434343;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

div.option{
    margin-right: 0.5rem;
}

section:first-child{
    padding-top: 5rem;
}

section.row-cams{
    margin-bottom: 1rem;
}

.user{
    background-image: url('https://picsum.photos/280/140/?random&cb= + (++cb) + ');
    background-size: cover;
    width: 240px;
    height: 140px;
    position: relative;
}

article.user:nth-last-of-type(even){
    margin: 0 0.5rem;
}

div.name{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(99, 112, 125, 0.5);
    font-size: 1.1rem;
    padding: .2rem;
}

footer{
    width: 100%;
    height: 5rem;
    background-color: #222222;
}

.c-white{
    color: white;
    font-size: 2.5rem;
}

div.mute{
    flex-basis: 25%;
    justify-content: flex-start;
}

div.action{
    flex-basis: 50%;
    justify-content: center;
}

div.end{
    flex-basis: 25%;
    justify-content: flex-end;
    align-items: center; 
}

.end h6{
    font-size: 1.2rem;
    color: red;
    background-color: #4a4a4a;
    height: 100%;
    padding: 1.7rem;
}

nav ul{
    padding-top: 1rem;
}

li i.fa-solid{
    font-size: 2rem;
}

nav ul li{
    list-style-type: none;
    text-align: center;
    color: white;
    padding: 0 1.2rem 0 0.5rem;
    font-size: 1rem;
}

div.angle-up{
    align-items: center;
    margin-right: 0.5rem;
    color: white;
}

.fa-share-from-square{
    color: #4bc800;
}